
build/Release

# Dependency directories
node_modules/
jspm_packages/


# Typescript v1 declaration files
typings/
lib/
# Optional npm cache directory
.npm

# Generated apidocs
api-docs/

# Transpiled JavaScript files from Typescript
/dist
